.Rproj.user
*.Rhistory
.RData
.Ruserdata

data/raw/logos

rsconnect/

# ignore all outputs but keep the folders
outputs/qmd/*
!outputs/qmd/.gitkeep
outputs/rnw/*
!outputs/rnw/.gitkeep

# temporary files in main project directory
logo.png
*map.html
*map.png