.Rproj.user
*.Rhistory
.RData
.Ruserdata

rsconnect/

# ignore all outputs but keep the folder
outputs/*
!outputs/.gitkeep

# ignore temporary directories and files in main project directory
wildfire_smoke_issue_files/
logo.png
*map.html
*map.png
